<% if @posts.empty? %>
  <p>No posts to display.</p>
<% else %>
  <table style="border-spacing: 30px;">
    <thead>
      <tr>
        <th>Post Title</th>
        <th>Author</th>
        <th>Created On</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <a href="/posts/<%= post[:id] %>/comments"><%= post[:title] %></a>
          </td>
          <td><%= post[:author] %></td>
          <td><%= post[:date] %></td>
          <td>
            <% if post[:update_date] == post[:date] %>
              <p>N&#47A</p>
            <% else %>
              <%= post[:update_date] %>
            <% end %>
          </td>
          <% if @user[:id] == post[:author_id] %>
            <td><a href="/posts/<%= post[:id] %>/edit">Edit</a></td>
            <td>
              <form action="/posts/<%= post[:id] %>/delete" method="post">
                <input type="submit" value="Delete">
              </form>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div>
  <% if @page > 1 %>
    <a href="/posts"><button>First</button></a>
    <a href="/posts?page=<%= @page - 1 %>"><button>Previous</button></a>
  <% end %>
  <% if @page < @last_page %>
    <a href="/posts?page=<%= @page + 1 %>"><button>Next</button></a>
    <a href="/posts?page=<%= @last_page %>"><button>Last</button></a>
  <% end %>
</div>

<a href="/posts/new"><button>Create New Post</button></a>

<% content_for :footer_login do %>
  <% if @user.key?(:id) %>
    <p>Logged in as <%= @user[:username] %></p>
    <form action="/users/logout" method="post">
      <input type="submit" value="Logout">
    </form>
  <% else %>
    <a href="/users/login"><button>Login</button></a>
  <% end %>
<% end %>